@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.nav[aria-hidden="true"] {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 0;
  height: 100vh;
  color: transparent;
  background: v.$color-sub;
  transition: 0.5s;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  @include m.z-index(nav);
}

.nav[aria-hidden="false"] {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-weight: bold;
  color: v.$color-font-white;
  background: v.$color-sub;
  transition: 0.5s;
  justify-content: center;
  align-items: center;

  @include m.z-index(nav);

  outline: none;

  @include m.mq(md-min) {
    width: 30%;
  }
}

.nav__menu {
  padding: 0;
  text-align: center;
}

.nav__menu > li {
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.nav__link {
  display: block;
  padding: 10px;
}
