@charset "UTF-8";

//===============================
//サイトの基本設定
//===============================

//幅関係の設定====================
// $width-base: 1200px;
// $width-main: 800px;
// $width-side: 360px;

//ブレイクポイント=================
$breakpoints: (
  "sm-min": "screen and (min-width:479px)",
  "sm-max": "screen and (max-width:478px)",
  "md-min": "screen and (min-width:768px)",
  "md-max": "screen and (max-width:767px)",
  "lg-min": "screen and (min-width:992px)",
  "lg-max": "screen and (max-width:991px)",
  "xl-min": "screen and (min-width:1131px)",
  "xl-max": "screen and (max-width:1130px)",
);

//z-index 重なり順================
$layer: (
  hamburger: 100,
  nav: 90,
  page-top: 10,
  photosnav: 10,
  header-title: 3,
  default: 1,
);

//フォント関係の設定===============
$font-base: "Marcellus", serif, "游ゴシック体", yugothic, "游ゴシック Medium",
  "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
$font-custom: "Italianno", cursive;

// .marcellus-regular {
//   font-family: "Marcellus", serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .italianno-regular {
//   font-family: "Italianno", cursive;
//   font-weight: 400;
//   font-style: normal;
// }

//色関係の設定=====================
// サイトカラー
$color-text-base: linear-gradient(
  114.2deg,
  rgb(184 215 21) -15.3%,
  rgb(21 215 98) 14.5%,
  rgb(21 215 182) 38.7%,
  rgb(129 189 240) 58.8%,
  rgb(219 108 205) 77.3%,
  rgb(240 129 129) 88.5%
);
$color-base: #f0f0f0;
$color-base-white: #fff;
$color-line: #db6ccd;
$color-sub: linear-gradient(
  45deg,
  rgb(88 182 211 / 90%),
  rgb(229 93 135 / 90%)
);

// フォントカラー
$color-font: #333;
$color-font-gray: #aaa;
$color-font-white: #fff;

// リンクカラー
$color-link: #a0a0a0;
